html {
	max-width: 800px;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-link {
	color: black;
	font-size: 20px;
}

@media (min-width: 600px) {
	section {
		min-width: 775px;
	}
}

section.header .name {
	text-transform: none;
}

section.main .content .title-container {
	flex-direction: column;
}

section.header .container .content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

section.header .container .content .avatar-section {
	flex-grow: 0.1;
	align-self: center;
}

section.header .container .content .intro-section {
	flex-grow: 1;
}

section.header .avatar {
	max-width: 80px;
}

section.main .container {
	min-height: 450px;
}

section.main .container .content {
	align-self: flex-start;
}

.content nav.section-items ul li {
	list-style: disc inside;
}
