html {
	max-width: 800px;
	margin: 0 auto;
}

.header-link {
	color: black;
	font-size: 18px;
}

@media (min-width: 600px) {
	section {
		min-width: 775px;
	}

	section.header .container .content .avatar-section {
		margin-right: 1.584962;
	}

}

section.header .name {
	text-transform: none;
}

section.main .content .title-container {
	flex-direction: column;
}

section.header .container .content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

@media(max-width: 600px) {
	section.header .container .content {
		flex-direction: column;
	}

	section.header .container .content .intro-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	section.header h3.self-intro {
		text-align: center;
	}
}

section.header .container .content .intro-section {
	flex-grow: 1;
}

section.header .avatar {
	max-width: 80px;
}

section.main .container {
	min-height: 450px;
}

section.main .container .content {
	align-self: flex-start;
}

.content nav.section-items ul li {
	list-style: disc inside;
}
